@page "/"

<PageTitle>Dashboard - AtmoSync Agro Ai</PageTitle>

<h2 class="mb-4">📊 IoT Dashboard</h2>

<div class="row">
	<div class="row-cols-md-4">

	</div>	
	<div class="row-cols-md-4">

	</div>
	<div class="row-cols-md-4">

	</div>
</div>