@inherits LayoutComponentBase
<div class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand navbar-dark bg-dark px-3" >
        <span class="navbar-brand">🌐 SensorSphere Learning</span>

        <div class="navbar-nav">
            <NavLink class="nav-link text-white me-3" href="" Match="NavLinkMatch.All">Dashboard</NavLink>
            <NavLink class="nav-link text-white me-3" href="sensors">Sensors</NavLink>
            <NavLink class="nav-link text-white" href="about">About</NavLink>
        </div>
    </nav>

    <main>
       @Body
    </main>
</div>
