
@using sensorSphere.Services
@inject DeviceStateService DeviceService
@inject SensorStateService SensorService
@inject AlertStateService AlertService
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4 auth">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <span>Hello, </span>
                        <button class="btn btn-sm btn-outline-secondary ms-2" >Logout</button>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/login">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>
        <article class="content px-4">
           
        </article>
    </main>
</div>
