

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">sensorSphere</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <CascadingAuthenticationState>
                    <AuthorizeView>
                        <li class="nav-item"><NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Dashboard</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="/devices">Devices</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="/sensors">Sensors</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="/analytics">Analytics</NavLink></li>
                        <li class="nav-item"><NavLink class="nav-link" href="/alerts">Alerts</NavLink></li>
                        @if (IsAdmin)
                        {
                            <li class="nav-item"><NavLink class="nav-link" href="/admin">Admin</NavLink></li>
                        }
                    </AuthorizeView>
                </CascadingAuthenticationState>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool IsAdmin = false;

  
}